<ion-content color="dark" fullscreen="true">
  <ion-card class="ion-margin" color="dark">
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item color="dark">
        <ion-label position="floating">Login</ion-label>
        <ion-input spellcheck="true" clearInput="true"></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-label position="floating">Password</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <p><a>forgot Password?</a></p>
      <ion-button shape="rounded" class="ion-button" >Sign In <ion-icon name="log-in-outline"></ion-icon></ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
